{% extends "layouts/main.html" %}

{% set pageName = "Do you have difficulty walking or cannot walk?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors["mobility-difficulty"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{ text: errors["mobility-difficulty"], href: "#mobility-difficulty" }]
    }) }}
    {% endif %}

    <form method="post" novalidate>
    {{ govukRadios({
      name: "mobility-difficulty",
      fieldset: {
        legend: {
          text: "Do you have difficulty walking or cannot walk?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: { text: "This includes permanent and substantial disabilities that make walking very difficult" },
      errorMessage: errors["mobility-difficulty"] if errors else null,
      value: data["mobility-difficulty"],
      items: [
        { value: "yes", text: "Yes" },
        { value: "no", text: "No" }
      ]
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
